<a href="https://colab.research.google.com/github/sruthib22/data690_Sruthi/blob/main/assignment_04/homework_assignment_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd

In [31]:
with open("/content/census_costs.txt" , "r") as f:
   line_list = f.readlines()
print(line_list)

['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

In [32]:
top_list2 = 0 
top_list2 = line_list[:1]

In [33]:
top_list2

['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

In [34]:
data_list = 0 
data_list = line_list[1:]
print(data_list)

['1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

In [35]:
for i in range(len(line_list)):
  print(line_list[i], sep='\t')

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [36]:
column_names = [line.split(",")[0] for line in line_list[:1]]

print(column_names)

['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

In [37]:
year_list= [line.split(",")[0] for line in data_list ]
print(year_list)

['1790\t3', '1800\t5', '1810\t7', '1820\t9', '1830\t12', '1840\t17', '1850\t23', '1860\t31', '1870\t38', '1880\t50', '1890\t62', '1900\t76', '1910\t91', '1920\t105', '1930\t122', '1940\t131', '1950\t151', '1960\t179', '1970\t203', '1980\t226', '1990\t248', '2000\t281', '2010*\t308']

In [38]:
year_list= [line.split("\t")[0] for line in data_list ]
print(year_list)

['1790', '1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010*']

In [39]:
census= [line.split("\t")[1] for line in data_list ]
print(census)

['3,929,214', '5,308,483', '7,239,881', '9,633,822', '12,866,020', '17,069,458', '23,191,876', '31,443,321', '38,558,371', '50,155,783', '62,979,766', '76,303,387', '91,972,266', '105,710,620', '122,775,046', '131,669,275', '151,325,798', '179,323,175', '203,302,031', '226,542,199', '248,718,301', '281,421,906', '308,745,538']

In [40]:
def remove_comma(number):

    number = number.replace(",", "")
    number = int(number)
    return number

In [41]:
pop_list=[]
for x in census:
    ppl = remove_comma(x)
    pop_list.append(ppl)
  
print(pop_list)

[3929214, 5308483, 7239881, 9633822, 12866020, 17069458, 23191876, 31443321, 38558371, 50155783, 62979766, 76303387, 91972266, 105710620, 122775046, 131669275, 151325798, 179323175, 203302031, 226542199, 248718301, 281421906, 308745538]

In [42]:
cost = [line.split("\t")[2] for line in data_list ]
print(cost)

['$44,377', '$66,109', '$178,445', '$208,526', '$378,545', '$833,371', '$1,423,351', '$1,969,377', '$3,421,198', '$5,790,678', '$11,547,127', '$11,854,000', '$15,968,000', '$25,117,000', '$40,156,000', '$67,527,000', '$91,462,000', '$127,934,000', '$247,653,000', '$1,078,488,000', '$2,492,830,000', '$4.5 Billion', '$13 Billion']

In [43]:
cost_list = [line.strip("$") for line in cost ]

print(cost_list)

['44,377', '66,109', '178,445', '208,526', '378,545', '833,371', '1,423,351', '1,969,377', '3,421,198', '5,790,678', '11,547,127', '11,854,000', '15,968,000', '25,117,000', '40,156,000', '67,527,000', '91,462,000', '127,934,000', '247,653,000', '1,078,488,000', '2,492,830,000', '4.5 Billion', '13 Billion']

In [44]:

def cleanse_cost(raw_cost):
    cost = raw_cost.lstrip("$").replace(",","")
    if  raw_cost.find("4.5") != -1:          # if "4.5" in raw_cost:
        cost = "45" + "0" * 8
    elif raw_cost.find("Billion") != -1:     # elif "Billion" in raw_cost: 
        cost = "13" + "0" * 9
    return cost

In [45]:
cost_list = []
for line in data_list:
    cost = line.split("\t")[2]
    cost = cleanse_cost(cost)
    cost_list.append(cost)

print(cost_list)

['44377', '66109', '178445', '208526', '378545', '833371', '1423351', '1969377', '3421198', '5790678', '11547127', '11854000', '15968000', '25117000', '40156000', '67527000', '91462000', '127934000', '247653000', '1078488000', '2492830000', '4500000000', '13000000000']

In [46]:
avg = [line.split("\t")[-1] for line in data_list ]
print(avg)

['1.13 cents\n', '1.24 cents\n', '2.46 cents\n', '2.16 cents\n', '2.94 cents\n', '4.88 cents\n', '6.14 cents\n', '6.26 cents\n', '8.87 cents\n', '11.54 cents\n', '18.33 cents\n', '15.54 cents\n', '17.07 cents\n', '23.76 cents\n', '32.71 cents\n', '51.29 cents\n', '60.44 cents\n', '71.34 cents\n', '$1.22\n', '$4.76\n', '$10.02\n', '$15.99\n', '$42.11']

In [47]:
avg_cost_list = [line.strip("cents\n") for line in avg ]

print(avg_cost_list)

['1.13 ', '1.24 ', '2.46 ', '2.16 ', '2.94 ', '4.88 ', '6.14 ', '6.26 ', '8.87 ', '11.54 ', '18.33 ', '15.54 ', '17.07 ', '23.76 ', '32.71 ', '51.29 ', '60.44 ', '71.34 ', '$1.22', '$4.76', '$10.02', '$15.99', '$42.11']

In [48]:
avg_cost_list1 = [line.strip("$") for line in avg_cost_list]

print(avg_cost_list1)

['1.13 ', '1.24 ', '2.46 ', '2.16 ', '2.94 ', '4.88 ', '6.14 ', '6.26 ', '8.87 ', '11.54 ', '18.33 ', '15.54 ', '17.07 ', '23.76 ', '32.71 ', '51.29 ', '60.44 ', '71.34 ', '1.22', '4.76', '10.02', '15.99', '42.11']

In [51]:
for i in range(len(avg_cost_list1)):
  avg_cost_list1[i] = float(avg_cost_list1[i])
  avg_cost_list1[i] = avg_cost_list1[i]/100
  avg_list = avg_cost_list1
print(avg_list)

[0.000113, 0.000124, 0.000246, 0.00021600000000000002, 0.000294, 0.00048799999999999994, 0.000614, 0.000626, 0.0008869999999999999, 0.0011539999999999999, 0.001833, 0.0015539999999999998, 0.001707, 0.002376, 0.003271, 0.005129, 0.006043999999999999, 0.007134000000000001, 0.00012199999999999998, 0.00047599999999999997, 0.001002, 0.0015990000000000002, 0.0042109999999999995]